.Floor {
    color: green
}

.Slope {
    color: brown
}

.Wall {
    color: grey
}

.Mountain {
    color: white
}

.Shore {
    color: lightcoral
}

.Water {
    color: lightblue
}

.DeepWater {
    color: blue
}

.Default {
    color: fuchsia
}

.Entity {
    color: white
}

#game-screen {
    display: flex;
}