@font-face {
  font-family: square;
  src: url("/square.ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  margin: 0;
  /* square font by 
     https://strlen.com/square/*/
  font-family: square, 'Courier New', Courier, monospace;
  font-size: 26px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  /* -ms-user-select:none; */
  user-select: none;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}